#article-container
  .tag.link
    text-align center
  a
    &.link-card
      display flex;
      flex-direction column
      margin 0.25rem auto
      background var(--dark-grey)
      cursor pointer
      text-align center
      min-width 200px
      max-width 300px
      color var(--text-highlight-color)
      border-radius 12px
      text-decoration none
      padding .25rem .5rem
      .link-group
        position relative
        display flex
        align-items center
      &:hover
        color var(--white)
        background var(--default-bg-color)
        box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.1)
      div
        &.left
          width 48px
          height 48px
          margin 5px 0
          overflow hidden
          flex-shrink 0
          position relative
          border-radius 12px
        &.right
          overflow hidden
          margin-left .5rem
          .title,
          .text
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            display flex
          .title
            font-size 1rem
            font-weight bold
          .text
            font-size .7rem
            font-weight 400
        i
          display flex
          position absolute
          right 4px

    .tips
      display flex
      border-bottom 1px solid var(--toc-link-color)
      font-size .6rem
      font-weight 400

#article-container a.link-card div.left,
#article-container a.link-card div.right
  pointer-events none

[data-theme="dark"]
  #article-container
    a
      &.link-card
        filter brightness(0.7)